@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 4% 98%;
    --foreground: 210 6% 12%;
    --border: 210 6% 88%;
    --card: 210 4% 96%;
    --card-foreground: 210 6% 12%;
    --card-border: 210 5% 90%;
    --primary: 217 91% 55%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 8% 86%;
    --secondary-foreground: 210 6% 16%;
    --muted: 210 10% 90%;
    --muted-foreground: 210 6% 38%;
    --accent: 210 12% 88%;
    --accent-foreground: 210 6% 20%;
    --destructive: 0 84% 48%;
    --destructive-foreground: 0 20% 98%;
    --input: 210 10% 72%;
    --ring: 217 91% 55%;
  }

  .dark {
    --background: 210 6% 8%;
    --foreground: 210 6% 92%;
    --border: 210 6% 18%;
    --card: 210 6% 10%;
    --card-foreground: 210 6% 92%;
    --card-border: 210 6% 16%;
    --primary: 217 91% 55%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 8% 18%;
    --secondary-foreground: 210 6% 88%;
    --muted: 210 10% 16%;
    --muted-foreground: 210 6% 68%;
    --accent: 210 10% 18%;
    --accent-foreground: 210 6% 88%;
    --destructive: 0 84% 48%;
    --destructive-foreground: 0 20% 98%;
    --input: 210 10% 32%;
    --ring: 217 91% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

